body {
  margin-bottom: 200vh;
}

[data-page-new] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

[data-page-out] {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

[data-page-in] {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}
